{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}

{% set type = content.field_iframe_type|field_value|render %}
{% set link = content.field_link|field_value %}
{% set title = content.field_title|field_value %}
{# {% set municipality = content.field_municipality %} #}
{% set tags = content.field_tags %}
{% set width = '' %}
{% set height = '' %}

{% set blockClass = 'iframe-free' %}
{% set containerClass = 'section-iframe' %}
{% set iframeClass = '' %}

{% if type == "free" %}
    {% set width = content.field_width|field_value %}
    {% set height = content.field_height|field_value %}
{% endif %}
{% if type == "map" %}
    {% set blockClass = 'bloque-iframe-mapa' %}
{% endif %}
{% if type == "video" %}
    {% set blockClass = 'bloque-iframe-video' %}
    {% set containerClass = 'ratio ratio-21x9' %}
    {% set iframeClass = 'embed-responsive-item' %}
{% endif %}

<div{{ attributes.addClass(blockClass).addClass(['layout-grid-box']) }}>
    {{ title_prefix }}
    {{ title_suffix }}
    {% if label %}
        <h2 class="title">{{ label }}</h2>
    {% endif %}
    <div class="{{ containerClass }}">
        <iframe width="{{ width }}" height="{{ height }}" class="{{ iframeClass }}" src="{{ link }}"
                allowfullscreen=""></iframe>
    </div>
    {# {{ municipality }} #}
    {{ tags }}
</div>
